# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Local gimp projects for logo and preview
*.xcf

git-anon.code-workspace
server/data/database.db
data/repository/*
!data/repository/.gitkeep
